<!--
  templateType: global_partial
  label: Footer
-->
<footer>
  {% dnd_area "footer"
    label="Footer",
    class="footer__container content-wrapper"
  %}

  {% dnd_section
  background_color="rgba(3, 16, 64, 1)",
  padding={
    "default" : {
      "bottom" : "4rem",
      "top" : "4rem"
    }
  }
%}
  {% dnd_column
    offset=0,
    width=3
  %}
    {% dnd_row %}
      {% dnd_module
        path="@hubspot/logo",
        offset=0,
        width=12,
        horizontal_alignment="LEFT",
        img={
          "alt" : "Logo",
          "height" : 75,
          "loading" : "disabled",
          "override_inherited_src" : true,
          "src" : "https://24266986.fs1.hubspotusercontent-na1.net/hubfs/24266986/Logo.png",
          "suppress_company_name" : true,
          "width" : 150
        }
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_module
        path="@hubspot/rich_text",
        offset=0,
        width=12
      %}
        {% module_attribute "html" %}
          <p><span style="color: #ffffff;">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span></p>
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
  {% dnd_column
    offset=3,
    width=3
  %}
    {% dnd_row %}
      {% dnd_module
        path="@hubspot/rich_text",
        offset=0,
        width=12
      %}
        {% module_attribute "html" %}
          <b><span style="color: #ffffff;">Lorem ipsum</span></b>
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_module
        path="@hubspot/simple_menu",
        offset=0,
        width=12,
        menu_tree=[ {
          "children" : [ ],
          "isPublished" : false,
          "linkLabel" : "list item",
          "linkUrl" : "www.google.com",
          "type" : "URL_LINK"
        }, {
          "children" : [ ],
          "isPublished" : false,
          "linkLabel" : "list item",
          "linkUrl" : "www.google.com",
          "type" : "URL_LINK"
        }, {
          "children" : [ ],
          "isPublished" : false,
          "linkLabel" : "list item",
          "linkUrl" : "www.google.com",
          "type" : "URL_LINK"
        } ]
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
  {% dnd_column
    offset=6,
    width=6
  %}
    {% dnd_row %}
      {% dnd_column
        offset=0,
        width=1,
        margin={
          "default" : {
            "bottom" : "17px"
          }
        }
      %}
        {% dnd_row %}
          {% dnd_module
            path="@hubspot/icon",
            offset=0,
            width=12,
            icon={
              "name" : "map-marker-alt",
              "type" : "SOLID",
              "unicode" : "f3c5"
            },
            styles={
              "background" : {
                "color" : {
                  "color" : "#FFFFFF",
                  "opacity" : 0
                }
              },
              "fill" : {
                "color" : {
                  "color" : "#FFFFFF",
                  "opacity" : 100
                }
              },
              "size" : {
                "size" : 15
              }
            }
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
      {% dnd_column
        offset=1,
        width=11
      %}
        {% dnd_row %}
          {% dnd_module
            path="@hubspot/rich_text",
            offset=0,
            width=12
          %}
            {% module_attribute "html" %}
              <p><span style="color: #ffffff;">26985 Brighton Lane, Lake Forest, CA 92630.</span></p>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_column
        offset=0,
        width=1,
        margin={
          "default" : {
            "bottom" : "17px"
          }
        }
      %}
        {% dnd_row %}
          {% dnd_module
            path="@hubspot/icon",
            offset=0,
            width=12,
            icon={
              "name" : "envelope",
              "type" : "REGULAR",
              "unicode" : "f0e0"
            },
            styles={
              "background" : {
                "color" : {
                  "color" : "#FFFFFF",
                  "opacity" : 0
                }
              },
              "fill" : {
                "color" : {
                  "color" : "#FFFFFF",
                  "opacity" : 100
                }
              },
              "size" : {
                "size" : 15
              }
            }
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
      {% dnd_column
        offset=1,
        width=11
      %}
        {% dnd_row %}
          {% dnd_module
            path="@hubspot/rich_text",
            offset=0,
            width=12
          %}
            {% module_attribute "html" %}
              <p><span style="color: #ffffff;">Info@mail.com</span></p>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_column
        offset=0,
        width=1,
        margin={
          "default" : {
            "bottom" : "17px"
          }
        }
      %}
        {% dnd_row %}
          {% dnd_module
            path="@hubspot/icon",
            offset=0,
            width=12,
            icon={
              "name" : "phone",
              "type" : "SOLID",
              "unicode" : "f095"
            },
            styles={
              "background" : {
                "color" : {
                  "color" : "#FFFFFF",
                  "opacity" : 0
                }
              },
              "fill" : {
                "color" : {
                  "color" : "#FFFFFF",
                  "opacity" : 100
                }
              },
              "size" : {
                "size" : 15
              }
            }
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
      {% dnd_column
        offset=1,
        width=11
      %}
        {% dnd_row %}
          {% dnd_module
            path="@hubspot/rich_text",
            offset=0,
            width=12
          %}
            {% module_attribute "html" %}
              <p><span style="color: #ffffff;">+212-800-1234</span></p>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_row %}
    {% dnd_row %}
      {% dnd_module
        path="/cc-website-theme/modules/social-follow",
        offset=0,
        width=12,
        styles={
          "alignment" : {
            "alignment" : {
              "horizontal_align" : "LEFT"
            }
          },
          "background" : {
            "color" : {
              "color" : "#FFFFFF",
              "opacity" : 0
            }
          },
          "fill" : {
            "color" : {
              "color" : "#FFFFFF",
              "opacity" : 100
            }
          },
          "size" : {
            "size" : 15
          }
        }
      %}
      {% end_dnd_module %}
    {% end_dnd_row %}
  {% end_dnd_column %}
{% end_dnd_section %}

{% end_dnd_area %}

<div class="footer-section-cc row-fluid-wrapper row-depth-1 row-number-18 dnd-section footer-row-2-background-color">
  <div class="row-fluid ">
    <div class="span12 widget-span widget-type-cell d-flex dnd-column">
      <div class="row-fluid-wrapper span8 row-depth-1 row-number-19 dnd-row">
        <div class="row-fluid row-module-text ">
          <div class=" widget-span widget-type-custom_widget dnd-module">
          {% module "module_16794958423463" 
              path="@hubspot/rich_text", 
              label="rich_text.module",
              html="<p style='margin: 0;color:#fff;'>Algemene voorwaarden / Privacy statement/ Toegankelijkheidsverklaring</p>", %}
      </div><!--end row-->
    </div><!--end row-wrapper -->
  </div><!--end widget-span -->
  <div class="span4 widget-span widget-type-cell dnd-column" >
    <div class="row-fluid-wrapper row-depth-1 row-number-20 dnd-row">
      <div class="row-fluid ">
        <div class="span11 widget-span widget-type-cell dnd-column">
          <div class="row-fluid-wrapper row-depth-1 row-number-21 dnd-row">
            <div class="row-fluid ">
              <div class="span12 widget-span widget-type-custom_widget dnd-module"> 
                  <p style="text-align: right;" ><a style="margin: 0;color: #ffffff;" href="https://www.conversioncrew.com/en/">Made by Conversion Crew</a></p>
                </div><!--end widget-span -->
              </div><!--end row-->
            </div><!--end row-wrapper -->
          </div><!--end widget-span -->
        <div class="span1 widget-span widget-type-cell footer-column-28-margin dnd-column"> 
          <div class="row-fluid-wrapper row-depth-1 row-number-22 dnd-row">
            <div class="row-fluid ">
              <div class="span6 widget-span widget-type-custom_widget dnd-module footer-module-29-flexbox-positioning" >
                <img src="https://www.conversioncrew.com/hubfs/CC-logo-wit-_1_.png" class="hs-image-widget " width="25" height="25" alt="logo Conversion Crew" title="logo png (1)" loading="lazy">
                </div><!--end widget-span -->
              </div><!--end row-->
            </div><!--end row-wrapper -->
          </div><!--end widget-span -->
        </div><!--end row-->
      </div><!--end row-wrapper -->
    </div><!--end widget-span -->
  </div><!--end row-->
</div>

</footer>
