<!--
  templateType: global_partial
  label: Website header
-->
<header class="cc-header">
  <a href="#main-content" class="skip-to-content-link">Skip to content</a>
    {% dnd_area "header-top"
      label="Top header",
      class="content-wrapper"
    %}
    {% end_dnd_area %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" aria-label="Main menu">
      <div class="container bd-gutter flex-wrap flex-lg-nowrap">
        <div class="navbar-brand">
          {% module "site_logo" 
            path="@hubspot/logo",
            override_default_logo="true",
            img={
              "alt" : "Logo",
              "height" : 50,
              "loading" : "disabled",
              "override_inherited_src" : true,
              "src" : "/cc-website-theme/images/logo.png",
              "suppress_company_name" : true,
              "width" : 100
            }
          %}
        </div>
        <a class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav">
          <span class="navbar-toggler-icon"></span>
        </a>
        <div class="collapse navbar-collapse" id="main_nav">
          {% module "navigation-primary"
              path="../../modules/menu",
              label="Primary navigation"
            %}
            <div class="cta-header">
            {% module "module_16796634048982"
            path="/cc-website-theme/modules/button",
            offset=0,
            width=12,
            button=[ {
              "button_style" : "button-secondary",
              "button_text" : "Add a button link here",
              "link" : {
                "no_follow" : false,
                "open_in_new_tab" : false,
                "url" : {
                  "href" : "",
                  "type" : "EXTERNAL"
                }
              },
              "width_column" : 6
            } ]
              %}   
          </div>
        </div>
       </div>
      </nav>
   
       
</header> 

