{% for item in module.button %}

  {# Sets attributes used for the link field #}
  {% set href = item.link.url.href %}
  {% if item.link.url.type == "EMAIL_ADDRESS" %}
    {% set href = "mailto:" + href %}
  {% endif %}
  {% set rel = [] %}
  {% if item.link.no_follow %}
    {% do rel.append("nofollow") %}
  {% endif %}
  {% if item.link.open_in_new_tab %}
    {% do rel.append("noopener") %}
  {% endif %}
{% endfor %}

{# Button #}
  <div class="row-button row">
    {% for item in module.button %}
     <div class="col">
      <div class="button-wrapper">
        <a class="{% if item.button_style == "button-secondary" %} button-secondary {% else %} button {% endif %}" href="{{ href }}"
        {% if item.link.open_in_new_tab %} target="_blank"{% endif %}
        {% if rel %}rel="{{ rel|join(" ") }}"{% endif %}
        >
          {{ item.button_text }}
        </a>
      </div>
    </div>
    {% endfor %}
  </div>