{% for item in module.button %}

  {# Sets attributes used for the link field #}
  {% set href = item.link.url.href %}
  {% if item.link.url.type == "EMAIL_ADDRESS" %}
    {% set href = "mailto:" + href %}
  {% endif %}
  {% set rel = [] %}
  {% if item.link.no_follow %}
    {% do rel.append("nofollow") %}
  {% endif %}
  {% if item.link.open_in_new_tab %}
    {% do rel.append("noopener") %}
  {% endif %}
{% endfor %}

{# Button #}
  <div class="cc-button row-button row" style="{% if  module.style.alignment_field.horizontal_align == 'CENTER' %}
                                                justify-content: center;
                                                {% elif module.style.alignment_field.horizontal_align == 'RIGHT' %}
                                                justify-content: flex-end;
                                                {% else %}
                                                justify-content: flex-start;
                                                {% endif %}
                                                {% if  module.style.alignment_field.vertical_align == 'MIDDLE' %}
                                                align-items: center;
                                                {% elif module.style.alignment_field.vertical_align == 'BOTTOM' %}
                                                align-items: flex-end;
                                                {% else %}
                                                align-items: flex-start;
                                                {% endif %}">
    {% for item in module.button %}
     <div class="col">
      <div class="button-wrapper">
        <a class="cc-btn {% if item.button_style == "button-secondary" %} button-secondary {% else %} button {% endif %}" href="{{ href }}"
        {% if item.link.open_in_new_tab %} target="_blank"{% endif %}
        {% if rel %}rel="{{ rel|join(" ") }}"{% endif %}
        >
          {{ item.button_text }}
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
<style>
.cc-button.row-button {
   
  }
</style>