{# Module styles #}

{% require_css %}
  <style>
    {% scope_css %}
      {% if module.styles.text.color.color %}
       .cc-navbar .nav-link {
          color: {{ module.styles.text.color.color }};
        }
      {% endif %}

      {# Menu items - submenus #}

    .cc-navbar .dropdown-menu{
     {{ module.styles.drop_downs.border.border_field.css }}
    {% if module.styles.drop_downs.background.color.color %}
      background-color: rgba({{ module.styles.drop_downs.background.color.color|convert_rgb }}, {{ module.styles.drop_downs.background.color.opacity / 100 }});
    {% endif %}
  }

  .cc-navbar .dropdown-item,
  .cc-navbar .dropdown-item:hover,
  .cc-navbar .dropdown-item:focus {
    {% if module.styles.drop_downs.background.color.color %}
      background-color: rgba({{ module.styles.drop_downs.background.color.color|convert_rgb }}, {{ module.styles.drop_downs.background.color.opacity / 100 }});
    {% endif %}
    {% if module.styles.drop_downs.text.color.color %}
      color: {{ module.styles.drop_downs.text.color.color }};
    {% endif %}
  }

    {% end_scope_css %}
  </style>
{% end_require_css %}

{# Menu items #}
{% macro menu_items() %}
  {% set menu = menu(module.menu, "site_root").children %}
  {% macro render_link_item(link, depth) %}
    {% if link.children %}
      <li class="nav-item dropdown megamenu">
        <a href="{{ link.url }}" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">{{ link.label }}</a>
        <ul class="dropdown-menu" role="menu">
            {% for sublink in link.children %}
              {% if sublink.children %}
                <li class="has-submenu">
                <a class="dropdown-item dropdown-toggle" href="{{ sublink.url }}"> {{ sublink.label }}</a>
                  {% for subsublink in sublink.children %}
                    <div class="megasubmenu dropdown-menu">
                      <a href="{{ subsublink.url }}" class="dropdown-item" >{{ subsublink.label }}</a>
                    </div>
                  {% endfor %}
                  </li>
              {% else %}
                <li>
                  <a href="{{ sublink.url }}" class="dropdown-item">{{ sublink.label }}</a>
                </li>
              {% endif %}
            {% endfor %}
        </ul>
      </li>
    {% else %}
      <li class="nav-item">
        <a href="{{ link.url }}" class="nav-link">{{ link.label }}</a>
      </li>
    {% endif %}
  {% endmacro %}

  {% for link in menu %}
    {{ render_link_item(link, 1) }}
  {% endfor %}
{% endmacro %}


{# Desktop menu #}


<ul class="cc-navbar navbar-nav">
  {{ menu_items() }}
</ul>

