{# Module styles #}

{% require_css %}
  <style>
    {% scope_css %}

    {% end_scope_css %}
  </style>
{% end_require_css %}

{# Menu items #}
{% macro menu_items() %}
  {% set menu = menu(module.menu, "site_root").children %}
  {% macro render_link_item(link, depth) %}
    {% if link.children %}
      <li class="nav-item dropdown megamenu">
        <a href="{{ link.url }}" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">{{ link.label }}</a>
        <ul class="dropdown-menu" role="menu">
            {% for sublink in link.children %}
              {% if sublink.children %}
                <li class="has-submenu">
                <a class="dropdown-item dropdown-toggle" href="#"> {{ sublink.label }}</a>
                  {% for subsublink in sublink.children %}
                    <div class="megasubmenu dropdown-menu">
                      <a href="{{ subsublink.url }}" class="dropdown-item" >{{ subsublink.label }}</a>
                    </div>
                  {% endfor %}
                  </li>
              {% else %}
                <li>
                  <a href="{{ sublink.url }}" class="dropdown-item">{{ sublink.label }}</a>
                </li>
              {% endif %}
            {% endfor %}
        </ul>
      </li>
    {% else %}
      <li class="nav-item">
        <a href="{{ link.url }}" class="nav-link">{{ link.label }}</a>
      </li>
    {% endif %}
  {% endmacro %}

  {% for link in menu %}
    {{ render_link_item(link, 1) }}
  {% endfor %}
{% endmacro %}


{# Desktop menu #}


<ul class="navbar-nav">
  {{ menu_items() }}
</ul>

