{# Module styles #}

{% require_css %}
  <style>
    {% scope_css %}

    {% end_scope_css %}
  </style>
{% end_require_css %}

{# Menu items #}
{% macro menu_items() %}
  {% set menu = menu(module.menu, "site_root").children %}
  {% macro render_link_item(link, depth) %}
    {% if link.children %}
      <li class="nav-item dropdown megamenu">
        <a href="{{ link.url }}" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">{{ link.label }}</a>
        <div class="dropdown-menu megamenu-content" role="menu">
          <div class="row">
            {% for sublink in link.children %}
              {% if sublink.children %}
                <div class="col-lg-3">
                  <div class="row">
                    <div class="col-lg-12 megamenu-col-header">
                      {{ sublink.label }}
                    </div>
                  </div>
                  {% for subsublink in sublink.children %}
                    {% if subsublink.children %}
                      <div class="row">
                        <div class="col-lg-12 megamenu-col-subheader">
                          {{ subsublink.label }}
                        </div>
                      </div>
                      {% for subsubsublink in subsublink.children %}
                        <a href="{{ subsubsublink.url }}" class="dropdown-item">{{ subsubsublink.label }}</a>
                      {% endfor %}
                    {% else %}
                      <a href="{{ subsublink.url }}" class="dropdown-item">{{ subsublink.label }}</a>
                    {% endif %}
                  {% endfor %}
                </div>
              {% else %}
                <div class="col-lg-3">
                  <a href="{{ sublink.url }}" class="dropdown-item">{{ sublink.label }}</a>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </li>
    {% else %}
      <li class="nav-item">
        <a href="{{ link.url }}" class="nav-link">{{ link.label }}</a>
      </li>
    {% endif %}
  {% endmacro %}

  {% for link in menu %}
    {{ render_link_item(link, 1) }}
  {% endfor %}
{% endmacro %}


{# Desktop menu #}


<ul class="navbar-nav">
  {{ menu_items() }}
</ul>

