/* Error pages */

.error-page {
  min-height: 525px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align:center;
  padding: 2rem 0;
  
}
.error-page .col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align:center;
}
  .error-page:before {
    
  }

/* System pages */

.systems-page {
  min-height: 525px;  
  display: flex;
  align-items: flex-start;
  padding: 2rem 0 6.8rem 0;
}
.system-page .col{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

  .systems-page--search-results { 
    
  }

  .systems-page .header {
    
  }

  .systems-page .success {
    
  }

  .systems-page form input {
    
  }

  .systems-page form input[type='submit'] {
    
  }

/* Search pages */

.hs-search-results__title {
  
}

  .hs-search-results__title:hover {
    
  }

  .hs-search-results__description {
    
  }

/* Password prompt */

.password-prompt input[type=password] {
  
}

  .systems-page #hs-login-widget-remember,
  .systems-page #hs-login-widget-remember ~ label {
    
  }

  .systems-page #hs_login_reset {
    
  }

/* Backup unsubscribe */

.backup-unsubscribe #email-prefs-form div {
  
}

.backup-unsubscribe input[type=email] {
  
}

/* Subscription preferences */

#email-prefs-form .item.disabled {
  
}

#email-prefs-form .item.disabled input:disabled {
  
}

/* Membership pages */

#hs-membership-form a[class*='show-password'] {
  
}

/* Input error messages */

.form-input-validation-message ul.hs-error-msgs {
  
}

.form-input-validation-message ul.hs-error-msgs li {
  
}