.hs-tabs__tab-wrapper .hs-tabs__tab[aria-selected='true'] {
  background:var(--bs-secondary);
  border-radius:{{ theme.button_primary.corner.radius ~ 'px'}} {{ theme.button_primary.corner.radius ~ 'px'}} 0 0;
}

.hs-tabs__tab-wrapper .hs-tabs__tab[aria-selected='false']{
   border:var(--bs-secondary) 1px solid;
   border-radius:{{ theme.button_primary.corner.radius ~ 'px'}} {{ theme.button_primary.corner.radius ~ 'px'}} 0 0;
}
.hs-tabs__content__panel--visible{
    background:var(--bs-secondary);
    border-radius:0 {{ theme.global_settings.radius ~ 'px'}} {{ theme.global_settings.radius ~ 'px'}} {{ theme.global_settings.radius ~ 'px'}};
}
