/* Fields */

.hs-form-field {
  padding: 0.5rem 0;
}
.hs-form-field ul{
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
/* Labels */

/* Form Title */

/* Help text */

/* Inputs */
.hs-form-field input,
.hs-form-field select{
  width: 80%;
  height: 2rem;
  margin: 0.2rem 0;
  padding: 0 0.3rem;
}
.hs-form-field textarea{
  width: 80%;
  margin: 0.2rem 0;
  padding: 0 0.3rem;
}
/* Inputs - checkbox/radio */
.hs-form-radio input,
.hs-form-field [type="checkbox"]{
  width: auto;
  height: auto;
  margin-right: 0.5rem;
}

.hs-form-radio label{
 display: flex;
}
.hs-form-radio label input,
.hs-form-field .hs-input{
  margin-right: 0.5rem;
  accent-color: var(--bs-primary);
}

/* Inputs - date picker */

.hs-dateinput {
  position: relative;
}

.fn-date-picker .pika-table thead th {
  color: #FFF;
}

.fn-date-picker td.is-selected .pika-button {
  border-radius: 0;
  box-shadow: none;
}

.fn-date-picker td .pika-button:hover,
.fn-date-picker td .pika-button:focus {
  border-radius: 0 !important;
  color: #FFF;
}

/* Inputs - file picker */

.hs-form-field input[type=file]{
  border: none;
  padding-left: 0;
  border-radius: 0;
  height: 100%;
}
.hs-form-field input[type=file]::file-selector-button{
  background-color: #e7ecff;
  border: 0 solid #e7ecff;
  border-radius: 10px;
  color: #0b42ff;
  padding: 10px 15px;
}
.hs-form-field input[type=file]::file-selector-button:hover{
  background-color: #031040;
  color: #fff;
}

/* Headings and text */

/* GDPR */

.legal-consent-container .hs-form-booleancheckbox-display > span,
.legal-consent-container .hs-form-booleancheckbox-display > span p {
  margin-left: 1rem !important;
}

/* Validation */

.hs-form-required {
  color: #EF6B51;
}

.hs-input.invalid.error {
  border-color: #EF6B51;
}

.hs-error-msg {
  color: #EF6B51;
  margin-top: 0.35rem;
}

/* Submit button */

form input[type=submit],
form .hs-button {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  transition: all 0.15s linear;
  white-space: normal;
}
form .hs-button {
  margin: 0.5rem 0;
}

/* Captcha */

.grecaptcha-badge {
  margin: 0 auto;
}

{% if ( get_asset_version("@hubspot/search_input") == "1" ) %}
  /* Search button input field and suggestions */
  .body-container-wrapper .hs-search-field__button {
    padding: 15px;
  }

  .body-container-wrapper .hs-search-field__bar--button-inline .hs-search-field__button {
    margin-left: 6px;
    margin-bottom: 0;
  }

  .body-container-wrapper .hs-search-field__button svg {
    height: 15px;
    fill: #fff;
  }

  .body-container-wrapper .hs-search-field__bar > form > .hs-search-field__input {
    padding: 10px;
  }

  .body-container-wrapper .hs-search-field__suggestions li a {
    color: #494A52;
    padding: 0.35rem 0.7rem;
    text-decoration: none;
    transition: background-color 0.3s;
  }
{% endif %}
