html[lang^="ja"] body,
html[lang^="zh"] body,
html[lang^="ko"] body {
  line-break: strict;
  overflow-wrap: normal;
  word-break: break-all;
}

/* Paragraphs */


/* Anchors */


/* Headings */

/* Lists */

/* Code blocks */

/* Blockquotes */

/* Horizontal rules */

/* Image alt text */
